<%- include('header'); -%>

    <main>
      <h2>Museum van de straat</h2>
      <div class="tekst">
        <p>Museum van de straat is een online museum dat verschillende kunstwerken van de straat naar jouw beeldscherm haalt. </p>
        <p>Op dit online platform kan je werken vinden van verschillende kunstenaars, die je normaal gezien enkel in het straatbeeld zou kunnen vinden. Alles is er op één centrale plek te vinden en vind je gemakkelijk terug op de kunstwerken pagina. </p>
        <p> <a href="/kunstwerk"> Ga naar de kunstwerkenpagina.</a> </p>
        <p>Museum van de straat is dus de plek om up to date te blijven met bekende street art kunstenaars en om nieuwe, onbekende kunstenaars te ontdekken van over de hele wereld.</p>

      <div class="uitgelicht">
          <h4>Uitgelicht</h4>
          <img src="/img/1up-2-berlijn.jpg" width="100%" alt="">
      </div>

      <div class="kleiner">
        <p>Museum van de straat is een onderdeel van Urban Spree. Kom Urban Spree fysiek ontdekken in Berlijn. <br> <a href="/contact">contactpagina</a></p>
      </div>

    </main>

<%- include('footer'); -%>
